<h1>New question:</h1>

<%= form_for [@survey, @question] do |f| %>
  <%= f.label :query %>
  <%= f.text_field :query %>
  <%= f.label :response %>
  <%= f.text_area :response %>
  <p><%= f.submit %></p>
<% end %>
